p.contact-title Contact me 

ul 
  il: a(href="https://twitter.com/" target="_blank")
    i.fa.fa-linkedin
  il: a(href="https://twitter.com/" target="_blank")
    i.fa.fa-github
  il: a(href="https://twitter.com/" target="_blank")
    i.fa.fa-twitter
