header
  h1.logo Yoseph Buitrago
  
  p.author-name Yoseph Buitrago
  
  nav.site-nav
    ul
      li: a(href="#about") About
      li: a(href="#projects") Project
      li: a(href="#articles") Articles
      li: a(href="#contact") Contact  
  a(href="mailto:yosephbuitrago.01@gmail.com").email-link +email me
